<div class="type">
    <ul>
        <li>
            <div class="fl">办公区:</div>
            <div class="type-select" name="type-select">
                <i>&nbsp;</i>
                <input type="text" value="" placeholder="请选择办公区">
                <ul>
                    <li data-value="1">分析对象</li>
                    <li data-value="2">分析对象</li>
                    <li data-value="3">分析对象</li>
                    <li data-value="4">分析对象</li>
                    <li data-value="5">分析对象</li>
                </ul>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <div class="fl">状态:</div>
            <div class="type-select" name="type-select">
                <i>&nbsp;</i>
                <input type="text" value=""  placeholder="请选择状态">
                <ul>
                    <li data-value="1">分析对象</li>
                    <li data-value="2">分析对象</li>
                    <li data-value="3">分析对象</li>
                    <li data-value="4">分析对象</li>
                    <li data-value="5">分析对象</li>
                </ul>
            </div>
            <div class="clear"></div>
        </li>
        <li class="but_submit" style="width:75px">查询</li>
        <div class="clear"></div>
    </ul>
    <div class="addPeople">
        <img src="images/icon4.png">
        <span>&nbsp;&nbsp;添加会议室</span>
    </div>
    <div class="subject-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ddd" >
            <tr>
                <th width="20%" style='padding-left: 30px;'>会议室名称</th>
                <th width="13%">所在楼层</th>
                <th width="13%">容纳人数</th>
                <th width="20%">办公区</th>
                <th width="20%">设备</th>
                <th width="7%">状态</th>
                <th width="7%">操作</th>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down">
                        <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style='padding-left: 30px;'>巴拉巴拉小魔仙会议室01</td>
                <td>5楼</td>
                <td>33</td>
                <td>北京中关村资本大厦</td>
                <td>投影仪、投影幕、电视机、八爪鱼</td>
                <td>启用</td>
                <td class="pr">
                    <div class="type-ellipse">&nbsp;</div>
                    <ul class="drop-down" style='display: none;'>
                       <li class="li-hover">二维码</li>
                        <li>编辑</li>
                        <li>停用</li>
                    </ul>
                </td>
            </tr>
           
        </table>
    </div>
    <div class="count" style='text-align: center;color:#a1a1a1;display: none;'>显示&nbsp;<span class='num'></span>&nbsp;/&nbsp;<span class='count_num'></span>&nbsp;个结果</div>
    <div class="load_more" style='display: none;'>显示更多</div>
</div>