<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyauto.mapper.OfficeAreaAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.xyauto.pojo.OfficeAreaAuthority">
    <id column="oaa_id" jdbcType="CHAR" property="oaaId" />
    <result column="office_ids" jdbcType="NVARCHAR" property="officeIds" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="employee_name" jdbcType="NVARCHAR" property="employeeName" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="department_name" jdbcType="NVARCHAR" property="departmentName" />
    <result column="founder_id" jdbcType="VARCHAR" property="founderId" />
    <result column="founder_name" jdbcType="NVARCHAR" property="founderName" />
    <result column="adddate" jdbcType="TIMESTAMP" property="adddate" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from office_area_authority
    where oaa_id = #{oaaId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xyauto.pojo.OfficeAreaAuthority">
    insert into office_area_authority (oaa_id, office_ids, employee_id, 
      employee_name, department_id, department_name, 
      founder_id, founder_name, adddate, 
      is_delete, create_time, create_user, 
      update_time, update_user)
    values (#{oaaId,jdbcType=CHAR}, #{officeIds,jdbcType=NVARCHAR}, #{employeeId,jdbcType=VARCHAR}, 
      #{employeeName,jdbcType=NVARCHAR}, #{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=NVARCHAR}, 
      #{founderId,jdbcType=VARCHAR}, #{founderName,jdbcType=NVARCHAR}, #{adddate,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xyauto.pojo.OfficeAreaAuthority">
    update office_area_authority
    set office_ids = #{officeIds,jdbcType=NVARCHAR},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      employee_name = #{employeeName,jdbcType=NVARCHAR},
      department_id = #{departmentId,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=NVARCHAR},
      founder_id = #{founderId,jdbcType=VARCHAR},
      founder_name = #{founderName,jdbcType=NVARCHAR},
      adddate = #{adddate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where oaa_id = #{oaaId,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select oaa_id, office_ids, employee_id, employee_name, department_id, department_name, 
    founder_id, founder_name, adddate, is_delete, create_time, create_user, update_time, 
    update_user
    from office_area_authority
    where oaa_id = #{oaaId,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select oaa_id, office_ids, employee_id, employee_name, department_id, department_name, 
    founder_id, founder_name, adddate, is_delete, create_time, create_user, update_time, 
    update_user
    from office_area_authority
  </select>
</mapper>