<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyauto.mapper.OfficeLocationMapper">
	<resultMap id="BaseResultMap" type="com.xyauto.pojo.OfficeLocation">
		<id column="office_id" jdbcType="INTEGER" property="officeId" />
		<result column="office_name" jdbcType="NVARCHAR" property="officeName" />
	</resultMap>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select office_id, office_name
		from office_location
		where office_id = #{officeId,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select office_id, office_name
		from office_location
	</select>
</mapper>